<script lang="ts">
import { BaseConfig, ClientOnlyConfig, ConfigType, RemoteConfig } from '@gitlab/web-ide-types';
import * as webIde from '@gitlab/web-ide';
import { defineComponent, onMounted, PropType, ref } from 'vue';
import { ExampleConfigClientOnly, ExampleConfigRemote } from '../types';
import { getBaseUrlFromLocation, getRootUrlFromLocation } from '../config';
import { TrackingEvent } from '@gitlab/web-ide-types/src/instrumentation';

const startRemote = (el: Element, config: RemoteConfig) => {
  webIde.startRemote(el, config);
};

const getConfigFromQuery = (): Partial<ClientOnlyConfig> => {
  const url = new URL(window.location.href);

  return {
    filePath: url.searchParams.get('filePath') || '',
    mrId: url.searchParams.get('mrId') || '',
    mrTargetProject: url.searchParams.get('mrTargetProject') || '',
    // Used to test what `forkInfo` we might receive from the main GitLab project.
    // See ../../web-ide-types/src/config.ts for more comments on `forkInfo`.
    forkInfo: {
      ide_path: url.searchParams.get('forkInfo.ide_path') || undefined,
      fork_path: url.searchParams.get('forkInfo.fork_path') || undefined,
    },
    username: url.searchParams.get('username') || '',
  };
};

const startClientOnly = (el: Element, config: ClientOnlyConfig) => {
  const { dispose } = webIde.start(el, {
    ...config,
    ...getConfigFromQuery(),
    handleStartRemote({ connectionToken, remoteHost, remotePath }) {
      dispose();

      startRemote(el, {
        baseUrl: config.baseUrl,
        connectionToken: connectionToken,
        hostPath: remotePath,
        remoteAuthority: remoteHost,
        links: config.links,
        handleClose: config.handleClose,
        handleError: config.handleError,
        handleTracking: config.handleTracking,
      });
    },
  });
};

export default defineComponent({
  props: {
    configType: {
      type: String as PropType<ConfigType>,
      required: true,
    },
    config: {
      type: Object as PropType<ExampleConfigClientOnly | ExampleConfigRemote>,
      required: true,
    },
  },
  setup(props) {
    const container = ref<Element>();

    onMounted(() => {
      if (!container.value) {
        return;
      }

      const baseUrl = getBaseUrlFromLocation();
      const handleError = () => {
        // TODO: Handle workbench creation failure
        window.location.reload();
      };
      const handleClose = () => {
        window.location.reload();
      };
      const handleTracking = (event: TrackingEvent) => {
        console.log(JSON.stringify(event, null, 2));
      };

      const baseConfig: BaseConfig = {
        baseUrl,
        handleError,
        handleClose,
        handleTracking,
        links: {
          feedbackIssue: 'https://gitlab.com/groups/gitlab-org/-/epics/8880',
          userPreferences: 'https://gitlab.com/-/profile/preferences',
          signIn: 'https://gitlab.com/users/sign_in',
        },
        editorFont: {
          fallbackFontFamily: 'monospace',
          fontFaces: [
            {
              family: 'GitLab Mono',
              display: 'block',
              src: [
                {
                  url: `${getRootUrlFromLocation()}/fonts/GitLabMono.woff2`,
                  format: 'woff2',
                },
              ],
            },
            {
              family: 'GitLab Mono',
              style: 'italic',
              display: 'block',
              src: [
                {
                  url: `${getRootUrlFromLocation()}/fonts/GitLabMono-Italic.woff2`,
                  format: 'woff2',
                },
              ],
            },
          ],
        },
      };

      if (props.configType === 'remote') {
        const userConfig = props.config as ExampleConfigRemote;

        startRemote(container.value, {
          ...baseConfig,
          ...userConfig,
        });
      } else {
        const { gitRef: ref, ...userConfig } = props.config as ExampleConfigClientOnly;

        startClientOnly(container.value, {
          ...baseConfig,
          ref,
          ...userConfig,
        });
      }
    });

    return {
      container,
    };
  },
});
</script>

<template>
  <div ref="container"></div>
</template>
